<div style="text-align: center">
<%= link_to ("<button>  Add Post  </button>").html_safe, root_path %> <br>
<%= link_to ("<button>  Add Event/class  </button>").html_safe, root_path %> <br>
<%= link_to ("<button>  See All Users  </button>").html_safe, root_path %> <br>
</div>