<div class="main_narrow">
<%= link_to ("<button>  Add/Edit a Post  </button>").html_safe, post_path %> <br>
<%= link_to ("<button>  Add/Edit an Event or Class  </button>").html_safe, event_path %> <br>
<%= link_to ("<button>  See all Users  </button>").html_safe, admin_user_path %> <br>
</div>