<div style="text-align: center">
<%= link_to ("<button>  Add/Edit a Post  </button>").html_safe, '/post' %> <br>
<%= link_to ("<button>  Add/Edit an Event or Class  </button>").html_safe, root_path %> <br>
<%= link_to ("<button>  See all Users  </button>").html_safe, root_path %> <br>
</div>