// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "susy";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import "sassybuttons";
@import "compass/utilities/tables/alternating-rows-and-columns";
 

$susy: (
  columns: 12,
  container: 1120px,
  global-box-sizing: border-box 
  );


@include border-box-sizing; 

.lists {
  table {
    $table-color: #7a98c6;
    @include alternating-rows-and-columns($table-color, adjust-hue($table-color, -120deg), #222222);
  }
}

* {	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

a, a:visited, a:active {
	text-decoration: none;
}

body {
	width: 100%
}

header {
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}


#login a, a:visited, a:active {
	color: black; 
	text-decoration: none;
}

#login {
	padding: 10px 0 0 25px;
	width: 50%;
	float: left;	
}

.logo {
	margin: 0 auto;
}

header #nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: black;
	color: white;
}

#nav a, a:visited, a:active {
	color: white; 
	text-decoration: none;
}

.header_image {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}

main {
	@include container;
	padding: 0 25px
}

.main_image {
	width: 70%;
	float: left;
	padding: 0 25px 10px 0;
}

.main_narrow {
	text-align: center;
}

#post a, a:visited, a:active {
	color: blue;
}

.left {
	@include span(8 of 12);
	display: inline;
	padding-right: 20px;
	border-right: 1px solid black;
}

.right {
	@include span(4 last);
}

footer {
	width: 100%;
	background-color: #DDDDDD;
	height: 250px;
	margin-top: 25px;
	padding: 25px;
}

button {
	margin: 10px;
	width: 250px;
	@include sassy-button("shiny", 5px, 16px, #ffd71a, #ffaa1a);
}
