// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "susy";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import "sassy-buttons";
 

$susy: (
  columns: 12,
  container: 1120px,
  );

* {	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

h1 {
	padding-bottom: 25px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 10px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    padding:0
}

.rotate {
	/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

a, a:visited, a:active {
	text-decoration: none;
}

body {
	width: 100%
}

header {
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}


#login a, a:visited, a:active {
	color: black; 
	text-decoration: none;
}

#login {
	padding: 10px 0 0 25px;
	width: 100%;
	float: left;	
}

.logo {
	margin: 0 auto;
}

header #nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: black;
	color: white;
}

#nav a, a:visited, a:active {
	color: white; 
	text-decoration: none;
}

.header_image {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}

main {
	@include container;
	padding: 0 25px
}

.main_image {
	width: 70%;
	float: left;
	padding: 0 25px 10px 0;
}

.main_narrow {
	text-align: center;
}

.narrow {
	width: 70%;
	margin: 0 auto;
}

#post a, a:visited, a:active {
	color: blue;
}

.left {
	@include span(8);
	padding-right: 50px;
	border-right: 1px solid black;
}

.right {
	@include span(3 last);
	position: relative;
}

footer {
	width: 100%;
	background-color: #DDDDDD;
	height: 250px;
	margin-top: 25px;
	padding: 25px;
}

button {
	margin: 10px;
	width: 175px;
	@include sassy-button("shiny", 7px, 16px, #777777); 
	@include sassy-button-style("push", #777777)
}


.button {
	display: inline;
	margin: 10px;
	width: 175px;
	@include sassy-button("shiny", 7px, 16px, #777777); 
	@include sassy-button-style("push", #777777)
}

.sm-button {
	display: inline;
	margin: 10px;
	width: 50px;
}

.container {
	vertical-align: bottom;
	width: 100%;
	margin: 50px;
	display: block;
	clear: both;
	text-align: left;
}

.what { float: left; color: #d6d6d6}
.event-what { width: 40%;;  float: left; }

.when { float: left; color: #d6d6d6 }
.event-when { width: 20%; float: left; }

.where { float: left; color: #d6d6d6}
.event-where { width: 20%; float: left; }

.who { float: left; color: #d6d6d6}
.event-who { width: 20%; float: left; }

.whobutton {
	text-align:center; position:static; bottom:0; padding-bottom: 10px;
}
