// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "susy";
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
@import "sassybuttons";
@import "compass/utilities/tables/alternating-rows-and-columns";
 

$susy: (
  columns: 12,
  container: 1120px,
  global-box-sizing: border-box 
  );


@include border-box-sizing; 

* {	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
}

h1 {
	padding-bottom: 25px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.rotate {
	/* Safari */
-webkit-transform: rotate(-45deg);

/* Firefox */
-moz-transform: rotate(-45deg);

/* IE */
-ms-transform: rotate(-45deg);

/* Opera */
-o-transform: rotate(-45deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

a, a:visited, a:active {
	text-decoration: none;
}

body {
	width: 100%
}

header {
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}


#login a, a:visited, a:active {
	color: black; 
	text-decoration: none;
}

#login {
	padding: 10px 0 0 25px;
	width: 100%;
	float: left;	
}

.logo {
	margin: 0 auto;
}

header #nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
	background-color: black;
	color: white;
}

#nav a, a:visited, a:active {
	color: white; 
	text-decoration: none;
}

.header_image {
	display: block;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
}

main {
	@include container;
	padding: 0 25px
}

.main_image {
	width: 70%;
	float: left;
	padding: 0 25px 10px 0;
}

.main_narrow {
	text-align: center;
}

.narrow {
	width: 70%;
	margin: 0 auto;
}

#post a, a:visited, a:active {
	color: blue;
}

.left {
	@include span(9 of 12);
	display: inline;
	padding-right: 20px;
	border-right: 1px solid black;
}

.right {
	@include span(3 last);
}

footer {
	width: 100%;
	background-color: #DDDDDD;
	height: 250px;
	margin-top: 25px;
	padding: 25px;
}

button {
	margin: 10px;
	width: 250px;
	@include sassy-button("shiny", 5px, 16px, #ffd71a, #ffaa1a);
}

.button {
	display: inline;
	margin: 10px;
	width: 250px;
	@include sassy-button("shiny", 5px, 16px, #ffd71a, #ffaa1a);
}

.sm-button {
	display: inline;
	margin: 10px;
	width: 50px;
	@include sassy-button("shiny", 5px, 16px, #ffd71a, #ffaa1a);
}

.container {
	display: table-cell;
	vertical-align: bottom;
	width: 100%;
	padding-left: 50px;
	}


.what{ display: inline-block; text-align: left; color: #d6d6d6}
.event-what { display: inline-block; text-align: left; width: 200px; vertical-align: bottom; }

.when { display: inline-block; text-align: left; color: #d6d6d6 }
.event-when { display: inline-block; text-align: left; vertical-align: bottom }

.where { display: inline-block; text-align: left; color: #d6d6d6}
.event-where { display: inline-block; text-align: left;}

.who { position: absolute; right: 300px; color: #d6d6d6}
.event-who { position: absolute; right: 50px; }

