<h1>ABOUT</h1>

<div class="narrow">
	This project was created by Juli Emmel as part of the General Assembly WDI Immersive. <br><br>

	Made in Rails, with styling assistance of Compass, Susy and Sassy Buttons. <br><br>

	More info coming soon. <br><br>
</div>