<h1>CONTACT</h1>

<div class="narrow">
	Visit Juli at <a href="http://www.github.com/justjiffy">github.com/justjiffy</a> OR <a href="https://www.justjiffy.com">justjiffy.com</a> <br><br>

	Coming Soon:<br><br>

	<%= form_tag do %>
		<textarea name="body" id="body" cols="100" rows="10"></textarea>
	<% end %>
	The ability to message through the mail_form gem! <br><br>
</div>