<div class="left">
	<%= render "posts" %>
</div>

<div class="right">
	<h2>Hello World</h2>
	<p>
	  The time is now: <%= Time.now %>

	  And the users that exist are: 
	  <% @users.each do |f| %>
	  <li><%= f.name %> - <%= f.email %></li>
	  <% end %>
	</p>
</div>