<div id="post" class="main_narrow">

	<h1>EDIT POST</h1>
	 
	<%= render "form" %>

<%= link_to ("<button>DELETE POST</button>").html_safe, full_path, method: :delete, data: { confirm: "You can not undo this action! Are you sure you want to delete???" } %>

</div>