// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "susy";

body {
	@include container(100%);
}

header {
	position: fixed;
	top: 0;
}

header#nav {
	position: relative; 
	bottom: 0;
}

header img {
	margin: 0 auto;
	display: block
}

img {
	float: left;
	padding: 0 25px;
}